* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* background-color: black; */
    color: white;
    overflow: hidden;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
}

.nav-option {
    background-color: #121212;
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    background-color: #121212;
    line-height: 2.5rem;
    opacity: 1;
}

.nav-option i {
    background-color: #121212;
    font-size: 1.25rem;
}

.nav-option a {
    text-decoration: none;
    color: white;
    background-color: #121212;
    font-size: 1.15rem;
    margin-left: 1rem;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100px; */
    padding: 0.5rem, 0.75rem;
    /* padding: 1rem; */
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover {
    font-size: 1.25rem;
    opacity: 1;
}

.box {
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
    margin-bottom: 1.85rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.box-p2 {
    font-size: 0.85rem;
    opacity: 0.9;
    margin-bottom: 1.25rem;
}

.badge {
    background-color: white;
    border: none;
    border-radius: 62.5rem;
    padding: 0.25rem 1rem;
    font-weight: 700;
    color: black;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.badge:hover {
    opacity: 0.85;
    height: 2.05rem;
}

.dark-badge {
    background-color: black;
    color: white;
    display: inline-flex;
    align-items: center;
    /* gap: 0.5rem; */
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-icons {
    margin-left: 0.75rem;
}

.sticky-nav-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 1rem;
}

.nav-item:hover {
  transform: scale(1.05);
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.user-badge {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
  background-color: black;
  color: white;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
    padding: 1rem 1rem 0.5rem 0;
}

.card-info {
    font-size: 0.75rem;
    padding: 0.15rem 0.15rem 0.1rem 0;
    opacity: 0.85;
}

.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;
}

.player {
    width: 50%;
}

.controls {
    width: 25%;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-control-icon {
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    height: 1rem;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6.5px;
}

.album {
    display: flex;
}

.album-pic {
    height: 3.25rem;
    width: 3.25rem;
    margin-left: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.album-info {
    padding: 1rem;
    line-height: 1.5rem;
}

.album-info-title {
    font-size: 0.9rem;
}

.album-info-author {
    font-size: 0.7rem;
    opacity: 0.7;
}

.album-info-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.album-info-author:hover {
    opacity: 1;
    text-decoration: underline;
    cursor: pointer;
}

.album-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;
    opacity: 0.7;
}

.heart:hover {
    opacity: 1;
    cursor: pointer;
}

.miniplayer {
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
    opacity: 0.7;
}

.miniplayer:hover {
    opacity: 1;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.control-icon-1 {
    height: 2.25rem;
    width: 2.25rem;
    opacity: 0.7;
    padding: 0.2rem;
}

.control-icon-1:hover {
    opacity: 1;
    cursor: pointer;
}

.control-icon-2 {
    height: 2rem;
    width: 2rem;
    opacity: 0.7;
    padding: 0.2rem;
}

.control-icon-2:hover {
    opacity: 1;
    cursor: pointer;
}

.control-icon-3 {
    height: 1.4rem;
    width: 1.4rem;
    opacity: 0.7;
    padding: 0.2rem;
}

.control-icon-3:hover {
    opacity: 1;
    cursor: pointer;
}

.control-icon-4 {
    height: 1.2rem;
    width: 1.2rem;
    opacity: 0.7;
    padding: 0.5rem;
}

.control-icon-4:hover {
    opacity: 1;
    cursor: pointer;
}

.control-icon-5 {
    height: 2rem;
    width: 2rem;
    opacity: 0.7;
    padding: 0.2rem;
}

.control-icon-5:hover {
    opacity: 1;
    cursor: pointer;
}

.control-bar {
    width: 25%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    height: 1rem;
}

.control-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.control-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6.5px;
}

@media (max-width: 850px) {
    .sidebar {
        width: 240px; 
    }
    
    .card {
        width: 140px; 
        margin-left: 1rem;
    }
}

@media (max-width: 650px) {
    body, * {
        overflow: auto; 
    }

    .main {
        flex-direction: column; 
        height: auto;
        padding: 0.25rem;
        margin-bottom: 80px; 
    }

    .sidebar {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.5rem;
        height: auto;
    }

    .library {
        display: none; 
    }

    .nav {
        flex-direction: row;
        justify-content: space-around;
        padding: 0.5rem;
    }

    .main-content {
        padding: 0 1rem;
    }

    .cards-container {
        justify-content: space-around;
    }

    .card {
        width: 42%; 
        margin-left: 0;
        margin-bottom: 1rem;
        padding: 0.75rem;
    }

    .music-player {
        height: 80px;
        padding: 0 10px;
    }

    .album {
        width: 45%; 
    }

    .album-pic {
        height: 2.75rem;
        width: 2.75rem;
    }

    .album-info {
        padding: 0.5rem;
        line-height: 1.2rem;
    }

    .player {
        width: 55%; 
    }

    .playback-bar {
        width: 100%;
    }

    .progress-bar {
        width: 60%;
    }

    .hide-mobile {
        display: none !important;
    }
}
